/* Reset CSS */
*,
*::before,
*::after
{
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

::selection{
	color: $color-white;
	background: $color-primary;
}

html,
body
{
	scroll-behavior: smooth;
}

html{
	font-size: 16px;
	text-size-adjust: none;
	@extend %custom-scrollbar;
}

body {
	--bs-body-color: #{$color-black};
	--bs-body-font-weight: 400;
	--bs-body-font-family: #{$font-primary};
}

a,
button
{
	color: inherit;
	font-family: inherit;
}

a,
a:hover,
a:focus,
a:active
{
	color: currentColor;
	text-decoration: none;
}

button,
button:hover,
button:focus,
button:active
{
	outline: none;
}

img,
svg,
video
{
	display: block;
}

img,
video
{
	object-fit: cover;
	max-width: 100%;
}

.preloader{
	z-index: 99999;
}

@include min-xxl {
	.container{
		max-width: toRem(1240)
	}
}


@include max-md{
	.px-0-md{
		padding-left: 0;
		padding-right: 0;
	}
}

.user-select-none{
	pointer-events: none;
}

/* Common Section Gap Style */
.section-gap{
	--_section-gap: #{toRem(80)};
	@include max-lg{
		--_section-gap: #{toRem(60)};
	}
	
	padding: var(--_section-gap) 0;
	&--fix{
		padding-bottom: calc(var(--_section-gap) - $gutter);
	}
}

/* Common Section Heading Style */
.section-header{
	margin-bottom: toRem(50);
	
	&__title{
		color: $color-primary;
		font-size: toRem(18);
		@include max-xxxs{
			font-size: toRem(16);
		}
		@include min-lg{
			font-size: toRem(20);
			letter-spacing: trackingToSpacing(100, 20px);
		}

		@at-root .cta &{
			@include min-xxl{
				font-size: toRem(30);
				letter-spacing: trackingToSpacing(200, 30px);
			}
		}
		font-family: $font-primary;
		font-weight: 700;
		margin-bottom: toRem(15);
		@extend %uppercase;
	}

	&__sub-title{
		color: $color-secondary;
		font-size: toRem(30);
		@include max-xxxs{
			font-size: toRem(24);
		}
		@include min-xxl{
			font-size: toRem(50);
		}
		font-family: $font-primary;
		font-weight: 700;
		line-height: 1;
	}
}

.underline{
	&__text{
		position: relative;
		display: inline-block;
		padding: 8px 5px;
		line-height: 1;

		&::after{
			@extend %common-pseudo;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			transform: scaleX(0);
			transform-origin: left center;
			background-color: $color-primary;
			transition: transform .2s $transition-ease;
		}
	}

	&:hover,
	&:focus-visible
	{
		.underline__text::after{
			transform: scaleX(1);
		}
	}
}

.match-height > [class*="col"]{
	display: flex;
	flex-flow: column;
}

.match-height > [class*="col"] > *{
	flex: 1 1 auto;
}

.text-primary,
.bg-primary
{
	--bs-primary-rgb: #{$color-primary-rgb};
}

.text-secondary,
.bg-secondary
{
	--bs-secondary-rgb: #{$color-secondary-rgb};
}

.fancybox{
	&-progress{
		background-color: $color-primary;
	}

	&-thumbs__list a::before{
		border-color: $color-primary;
	}

	&-thumbs__list{
		@extend %custom-scrollbar;
	}
}

.simplebar{
	&-scrollbar::before{
		background-color: $color-primary;
	}
}

.user-object{
	&__avatar{
		--_size: #{toRem(50)};
		width: var(--_size);
		height: var(--_size);
		@extend %stacking-context;
        @extend %overflow-hidden;
        @extend %rounded-circle;

		&__bg{
			@extend %full-width;
		}
	}

	&__title,
	&__text
	{
		font-size: toRem(14);
		@include min-md{
			font-size: toRem(18);
		}
		margin-bottom: 0;
	}
	
	&__title{
		@extend %fw-medium;
		display: inline-block;
	}

	&__text{
		color: $color-gray;
	}
}