/* Pins card Style */
.pins__card{
    display: flex;
    align-items: flex-end;
    @extend %stacking-context;
    @extend %overflow-hidden;
    border-radius: toRem(15);
    outline: 1px solid transparent;

    &::before{
        @extend %common-pseudo;
        @extend %full-width;
        background-image: linear-gradient(180deg, transparent 47.11%, rgba($color-white, $alpha: 0.70) 80.43%);
    }

    &__bg{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -1;
        @extend %transition;
        @extend %select-none;
    }

    @include hover{
        &:hover,
        &:focus-visible
        {
            .pins__card__bg{
                transform: rotate(-0.2deg) scale(1.05);
            }
        }
    }
    
    &__content{
        position: absolute;
        padding: toRem(10);
    }

    &__title{
        font-size: toRem(12);
        @include min-xxs{
            @include max-xxs{
                font-size: toRem(10);
            }
        }
        margin-bottom: toRem(10);
        @extend %fw-medium;
    }

    &__profile{
        display: flex;
        align-items: center;
        gap: 5px;

        &__avatar{
            --_size: #{toRem(30)};
            @include min-sm{
                --_size: #{toRem(52)};
            }
            @extend %stacking-context;
            @extend %rounded-circle;
            @extend %overflow-hidden;
            width: var(--_size);
            height: var(--_size);
            flex-shrink: 0;

            &__bg{
                @extend %full-width;
            }
        }

        &__text{
            font-size: toRem(10);
            @include min-xxs{
                @include max-xxs{
                    font-size: toRem(8);
                }
            }
            margin-bottom: 0;
        }
    }
}

/* Icon card Style */
.icon-card{
    margin-bottom: toRem(30);

    &__icon{
        color: $color-primary--dark;
        font-size: toRem(55);
        margin-bottom: toRem(35);
        @include max-sm{
            margin-bottom: toRem(20);
        }
        @include max-md{
            margin-left: auto;
            margin-right: auto;
        }
    }
}